@model IEnumerable<A2ZPortal.Core.ViewModel.PropertyDetail.PropertyCompleteListVm>
<div class="row">
        @foreach (var item in Model.OrderByDescending(x=>x.PropertyId))
        {<div class="col-lg-4 mt-3">
                <div class="border">
                    <img src="@item.ImagePath" alt="" class="img-fluid" style="height: 194px;   width:100%;">
                    <div class="p-4">
                        <h5 style="font-size:16px; font-weight:bold">@item.PropertyName</h5>
                        <p>@item.Description.Substring(0, 100)</p>
                        <button type="button" class="btn btn-primary mb-1"> @item.Price M AED</button>
                        <a asp-action="GetPropertyDetail" title="@item.PropertyName" asp-route-id="@item.PropertyId" asp-controller="PropertyDetails" class="btn btn-primary mb-1">View Details</a>
                    </div>
                </div>
            </div>
        }


    </div>
<script>
    $(document).ready(function () {

        $('#owl-carousel-3').owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1200: {
                    items: 3
                }
            }
        });

        $('#owl-carousel-4').owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1200: {
                    items: 3
                }
            }
        });

        $('#owl-carousel-5').owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1200: {
                    items: 3
                }
            }
        });

        $("#bt-1").click(function () {
            $(".list-grid .col-lg-4").removeClass("col-lg-4");
            $(".list-grid .border").addClass("list-view");
        });
        $("#bt-2").click(function () {
            $(".list-grid .list-view").removeClass("list-view");
            $(".list-grid .mt-3").addClass("col-lg-4");
        });

        $("#flip").click(function () {
            $(".panel").toggle();
            return false;
        });

    })
</script>