@model IEnumerable<A2ZPortal.Core.ViewModel.PropertyDetail.PropertyCompleteListVm>

<div class="main-content container-boxed max offset">
    <div class="row">
        <div class="noo-main col-md-12 right-sidebar" role="main">
            <div class="properties grid">
                <div class="properties-header">
                    <h1 class="page-title">Properties</h1>
                    <div class="properties-toolbar">
                        <a class="selected" data-mode="grid" href="http://wp.nootheme.com/citilights/properties/?mode=grid" title="Grid"><i class="fa fa-th-large"></i></a>
                        <a class="" data-mode="list" href="http://wp.nootheme.com/citilights/properties/?mode=list" title="List"><i class="fa fa-list"></i></a>
                        <form class="properties-ordering" method="get">
                            <div class="properties-ordering-label">Sorted by</div>
                            <div class="form-group properties-ordering-select">
                                <div class="dropdown">
                                    <span data-toggle="dropdown">Price</span>
                                    <ul class="dropdown-menu">
                                        <li><a data-value="date">Date</a></li>
                                        <li><a data-value="price">Price</a></li>
                                        <li><a data-value="name">Name</a></li>
                                        <li><a data-value="area">Area</a></li>
                                        <li><a data-value="rand">Random</a></li>
                                    </ul>
                                </div>
                            </div>
                            <input type="hidden" name="orderby" value="">
                        </form>
                    </div>
                </div>
                <div class="noo-property-compare">
                    <form style="display: none" method="POST" action="http://wp.nootheme.com/citilights/compare-listings/" class="submit-compare-612a03675efd3">
                        <h3 class="title-compare">
                            Compare properties
                        </h3>
                        <div class="list-compare"></div>
                        <input type="submit" name="submit-compare" value="Compare" />
                    </form>
                </div>
                <div class="properties-content">
                    @foreach (var data in Model)
                    {
                        <article id="property-6121" class="post-6121 noo_property type-noo_property status-publish has-post-thumbnail hentry
                                 property_category-coop property_category-single-family-home property_location-new-york-3 property_sub_location-staten-island
                                 property_status-open-house property_status-sales has-featured">
                            <div class="property-featured">
                                <a class="content-thumb xx" asp-controller="PropertyDetails" asp-action="GetPropertyDetail" asp-route-id="@data.PropertyId">
                                    <img style="width:375px;height:350px" src="@data.ImagePath" alt="" loading="lazy" />
                                </a>
                                <span class="property-label sold">@data.CategoryName</span>
                                <span class="property-category">
                                    <a href="http://wp.nootheme.com/citilights/listings/coop/" rel="tag">
                                    </a>, <a href="http://wp.nootheme.com/citilights/listings/single-family-home/" rel="tag">
                                        @data.PropertyName
                                    </a>
                                </span>
                                <a class="out-link" title="" asp-controller="PropertyDetails" asp-action="GetPropertyDetail" asp-route-id="@data.PropertyId">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="property-wrap">
                                <h2 class="property-title">
                                    <a href="http://wp.nootheme.com/citilights/properties/john-doe-2/" title="Permanent link to: &quot;101 W 87th St, NY&quot;">Location</a>
                                </h2>
                                <div class="property-excerpt">
                                    <p>@data.Description</p>
                                </div>
                                <div class="property-summary">
                                    <div class="property-detail">
                                        <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">@data.Area</span></div>
                                        <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">@data.BedRooms</span></div>
                                        <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">@data.BathRooms</span></div>
                                    </div>
                                    <div class="property-info style-1">
                                        <div class="property-price">
                                            <span> <span class="amount">&#36;@data.Price</span> </span>
                                        </div>

                                        <div class="property-action">
                                            <i title="Compare" data-user="0" data-id="@data.PropertyId" data-action="compare" data-thumbnail="@data.ImagePath" data-div="submit-compare-612a03675efd3" class="property-action-button fa fa-plus compare-6121" aria-hidden="true"></i>
                                            <i title="Add to favorites" data-user="0" data-id="@data.PropertyId" data-action="favorites" data-status="add_favorites" data-url="http://wp.nootheme.com/citilights/my-favorites/" class="property-action-button fa fa-heart-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="property-info property-fullwidth-info">
                                        <div class="property-price">
                                            <span> <span class="amount">&#36;@data.Price</span> </span>
                                        </div>
                                        <div class="area">
                                            <span class="property-meta-icon"
                                                  style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">@data.Area</span>
                                            </div>
                                            <div class="bedrooms">
                                                <span class="property-meta-icon"
                                                      style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">@data.BedRooms</span>
                                                </div>
                                                <div class="bathrooms">
                                                    <span class="property-meta-icon"
                                                          style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">@data.BathRooms</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="property-action property-fullwidth-action">
                                            <a href="http://wp.nootheme.com/citilights/properties/john-doe-2/">
                                                More Details
                                            </a>
                                        </div>
                                    </article>

                                }

                </div>
            </div>
            <div class="pagination list-center">
                @{
                    int count = Model.First().TotalCount / 6;
                    int reminder = Model.First().TotalCount % 6;
                    int record = 1;
                    if (count > 0 && reminder > 0)
                    {
                        record = count + 1;
                    }

                }
                @for (int i = 1; i <= record; i++)
                {
                    <a class="page-numbers" onclick="GetFilterDetail(@i)">@i</a>
                }
            </div>
        </div>

    </div>
</div>
