@model IEnumerable<A2ZPortal.Core.Entities.Master.BedRoom>
<style>
    .modal-backdrop {
        position: initial;
        top: 0;
        left: 0;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background-color: #000;
    }

    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto;
        background: #a31e2e;
    }

    #show-block {
        display: none
    }

        #show-block .checkbox-label {
            color: #fff;
            justify-content: flex-start !important
        }
</style>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center pt-5">
            <div class="col-md-6 offset-md-3 border mt-4">

                <form class="form-inline" action="~/PropertyDetails/Index" method="get" role="search">
                    <div class="col-md-12 mt-4">
                        <input id="location" name="location" type="text" class="form-control" autocomplete="on" placeholder="Type, State, City, Area or Address">
                        <input type="hidden" id="LocationId" name="LocationId" />
                    </div>
                    <div class="col-lg-6 mt-3">
                        <select data-placeholder="All Status" name='status' id='ex-1' class='js-example-basic-single form-control'
                                asp-items="@(new SelectList((IEnumerable<A2ZPortal.Core.Entities.Master.PropertyStatusModel>)ViewBag.PropertyStatus,"Id","PropertyStatus"))">
                            <option value="" selected='selected'>All Status</option>
                        </select>

                    </div>
                    <div class="col-lg-6 mt-3">
                        <select data-placeholder="All Type" name='category' id='ex-2' class='js-example-basic-single form-control'
                                asp-items="@(new SelectList((IEnumerable<A2ZPortal.Core.Entities.Master.PropertyType>)ViewBag.PropertyType,"Id","PropertyTypeName"))">
                            <option value="" selected='selected'>All Type</option>
                        </select>

                    </div>
                    <div class="col-lg-6 mt-3">
                        <select class="js-example-basic-single form-control" id="ex-3" name="bedrooms" data-placeholder="All Bedrooms"
                                asp-items="@(new SelectList((IEnumerable<A2ZPortal.Core.Entities.Master.BedRoom>)ViewBag.BedRoom,"Id","BedRooms"))">
                            <option value="" selected='selected'>All Bed Rooms</option>
                        </select>

                    </div>
                    <div class="col-lg-6 mt-3">
                        <select id="ex-4" class="js-example-basic-single form-control" name="bathrooms" data-placeholder="All Bathrooms"
                                asp-items="@(new SelectList((IEnumerable<A2ZPortal.Core.Entities.Master.BathRoom>)ViewBag.BathRoom,"Id","BathRooms"))">
                            <option value="" selected='selected'>All Bath Rooms</option>
                        </select>

                    </div>


                    <div class="col-lg-12 more mt-3 text-center" id="more">
                        <a href="">More Options</a>
                    </div>


                    <div class="row" id="show-block">
                        @foreach (var item in ViewBag.Amenities)
                        {
                            <div class="col-md-12" style="background-color: #981d2c">
                                <label class="checkbox-label" for="2 swimming pool" style="text-align:left !important">
                                    <input type="checkbox" value="@item.Id" class="" name="Amenities" id="2 swimming pool">&nbsp;@item.AmenitiesName
                                </label>
                            </div>
                        }
                    </div>
                    <div class="col-lg-12 more mt-3 text-center" >
                        <button type="submit" class="btn btn-primary   btn-sm"><i class="fa fa-search"></i> Search</button>
                    </div>

                   



                </form>
                <div class="d-lg-flex justify-content-between m-3">
                    <a asp-controller="Sale" asp-action="Index" class="btn btn-success mt-3">Property For Sale</a>
                    @*<a asp-controller="Rental" asp-action="Index" class="btn btn-success mt-3">Property For Rent</a>*@
                    <a asp-controller="Sale" asp-action="Index" class="btn btn-success mt-3">Off Plan</a>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(function () {


        $("#location").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/Search",
                    type: "POST",
                    dataType: "json",
                    data: { prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.locationName,
                                value: item.id,
                                id: item.id
                            };

                        }));
                    },
                });
            },

            select: function (event, ui) {
                debugger;
                $("#location").val(ui.item.label);
                $("#LocationId").val(ui.item.value);

                return false;
            }
        });
    });



    $("#more").click(function () {
        $("#show-block").slideToggle();
        return false;
    });
</script>