@model IEnumerable<A2ZPortal.Core.Entities.Property.UpComingPropertyDetail> 
@{

}
<section class="for-sale">
    <div class="bg-bar">
        <div class="container">
            @if (ViewBag.Breadcrumbs != null)
            {
                <h6>
                    @foreach (var breadcrumb in ViewBag.Breadcrumbs as List<Breadcrumb>)
                    {
                        if (breadcrumb.Active)
                        {
                            <a asp-action="@breadcrumb.Action" asp-controller="@breadcrumb.Controller">@breadcrumb.Text</a>
                        }
                        else
                        {

                            <span>/</span> @breadcrumb.Text;
                        }
                    }
                </h6>
            }
        </div>
    </div>
     

    <div class="container">
        <h1 class="text-center mt-5 mb-3">New Launch Projects</h1>
        <div class="text-right py-3">
            <button class="btn btn-primary" id="bt-1">
                <i class="fa fa-bars"></i>
            </button>
            <button class="btn btn-primary" id="bt-2">
                <i class="fa fa-th"></i>
            </button>
        </div>

        <div class="list-grid">
            <div class="row">
                @foreach (var item in Model.OrderByDescending(x=>x.Id))
                {<div class="col-lg-4 my-3">
                        <div class="border">
                            <img src="@item.ImagePath" alt="" class="img-fluid" style="max-height:500px;width:100%">
                            <div class="p-4">
                                <h5>@item.PropertyName</h5>
                                <a asp-action="GetPropertyDetail" title="@item.PropertyName" asp-route-id="@item.Id" asp-controller="UpcomingProject" class="btn btn-primary mb-1">View Details</a>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        
    </div>
</section>

    


    <script>
		$(document).ready(function() {

		 

		  $("#bt-1").click(function(){
			  $(".list-grid .col-lg-4").removeClass("col-lg-4");
			  $(".list-grid .border").addClass("list-view");
		  });
		  $("#bt-2").click(function(){
			  $(".list-grid .list-view").removeClass("list-view");
			  $(".list-grid .mt-3").addClass("col-lg-4");
		  });

		  $("#flip").click(function(){
			 $(".panel").toggle();
			 return false;
		  });

		})
    </script>