@model IEnumerable<A2ZPortal.Core.ViewModel.PropertyDetail.FeaturedPropertyVm>


<section class="best-deals mt-5">
    <div class="container">
        <h2 class="text-center mb-5">Featured Properties For Sale</h2>
        <div class="row">
            <div class="owl-carousel owl-theme" id="owl-carousel-1">
                @{

                    foreach (var data in Model.OrderByDescending(x=>x.PropertyId))
                    {
                        <div class="item">
                            <div class="border">
                                <img src="@data.ImagePath" alt="" class="img-fluid" style="width:370px; height:300px">
                                <div class="p-4">
                                    <h5>@data.PropertyName </h5>
                                    <button type="button" class="btn btn-primary disabled">
                                        @string.Format("{0:0.00}", data.Price)  M AED
                                            @if (data.PropertyType == "Rent")
                                            {
                                                <span>Per Month</span>
                                            }
                                        </button>
                                        <a class="btn btn-primary" asp-action="GetPropertyDetail" title="@data.PropertyName" asp-route-id="@data.PropertyId" asp-controller="PropertyDetails">View Details</a>
                                        <a asp-action="AddToFavourite" asp-controller="CustomerTransaction" asp-route-propId="@data.PropertyId" class="btn btn-primary"><i class="fa fa-heart"></i></a>   
                                </div>
                                </div>
                            </div>
                        }
                }


            </div>
        </div>
    </div>
</section>

 