@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    /* #popup .modal-dialog {
                min-height: calc(100vh);
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: auto;
                padding-top: 30px;
            }

            #popup .modal-content {
                width: 75%;
                margin: auto
            }

            #popup img {
                width: 400px
            }

            #popup #close {
                position: absolute;
                right: -15px;
                top: -15px;
                background: #7b0211;
                border-radius: 50%;
                padding: 0 5px 5px 5px
            }
        */


    h5 {
        font-size: 16px;
        font-weight: bold
    }

    .form-inline .form-control, .select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-selection__rendered {
        font-size: 14px
    }
</style>
<section class="custom-form" id='form-1'>
    @await Component.InvokeAsync("PropertySearch")
</section>
@await Component.InvokeAsync("Featured")

<section class="popular mt-5">
    <div class="border border-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 my-3">
                    <img src="~/A2Z-contents/img/elite.jpeg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-4">
                    <div class="mt-md-5 mb-3">
                        <h2 class="mt-md-5 pt-md-5">Elite Residence, Dubai Marina</h2>
                        <p class="my-3">
                            Residential tower
                            83 floors of residential apartments/ 4 parking floors/ 4 basement levels/ 2 health clubs/ state of the art business centre
                        </p>
                        <a type="button" class="btn btn-primary" asp-action="GetPropertyDetail" asp-controller="PropertyDetails" asp-route-id=1002>Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="best-deals my-5">
    <div class="container">
        <h2 class="text-center mb-5">Featured Properties For Rent</h2>
        <div class="row">
            <div class="owl-carousel owl-theme " id="owl-carousel-0">
                @foreach (var data in ((IEnumerable<A2ZPortal.Core.ViewModel.PropertyDetail.RecentPropertyDetail>)ViewBag.PropertyRecentDetail).GroupBy(x => x.PropertyId).OrderByDescending(x => x.FirstOrDefault().PropertyId))
                {
                    <div class="item">
                        <div class="border">
                            <img src="@data.First().ImagePath" alt="" class="img-fluid" style="width:370px; height:300px">
                            <div class="p-4">
                                <h5>@data.First().PropertyName </h5>

                                <button type="button" class="btn btn-primary disabled">
                                    @string.Format("{0:0}", data.First().Price) AED
                                </button>
                                @if (data.First().PropertyType == "Rent")
                                {
                                    <span>Per Month</span>
                                }
                                <a type="button" class="btn btn-primary" asp-action="GetPropertyDetail" title="@data.First().PropertyName" asp-route-id="@data.First().PropertyId" asp-controller="PropertyDetails">View Details</a>
                                <a asp-action="AddToFavourite" asp-controller="CustomerTransaction"
                                   asp-route-propId="@data.First().PropertyId" class="btn btn-primary"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<div class="add" id="UpcomingProject-modal" style="display:none">
    <button type="button" class="close" id="close-add">&times;</button>
    <div id="UpcomingProject-body">
    </div>
</div>


<div class="vedpopup" id="popid"  style="display: block;height: 300px;width: 300px;border: solid 1px black;position: fixed;top: 210px;
        left: 0;z-index: 990;">
    <button type="button" id="closeId" value="close" style="position: relative;right: -272px;z-index:999">X</button>
    <div id="vediodiv">
         <video autoplay muted loop style="height: 300px;width:298px;position:relative;top:-31px;">
        <source src="~/A2Z-contents/WhatsappVedioHome.mp4" type="video/mp4"/>
    </video>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#closeId").click(function () {
            $("#popid").hide();
         });
    });
</script>

<script>
    $(document).ready(function () {
        $('.owl-theme').owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            slideBy: 1,
            autoplay: true,
            autoplayTimeout: 3000,
            rtl: true,
            autoplayHoverPause: true,
            navText: ['<i class="fa fa-chevron-left"></i>', '<i class="fa fa-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 2
                },
                1200: {
                    items: 3
                }
            }
        });
        if (sessionStorage.getItem("isFirst") == null) {

            sessionStorage.setItem("isFirst", 1);

            $.get("/Home/UpComingProject",
                function (data) {
                    debugger;
                    $("#UpcomingProject-body").html(data);
                    $("#UpcomingProject-modal").show('slow');

                });

            $("header, section, footer").addClass('overlay');

            $("#close-add").click(function () {
                $("#UpcomingProject-modal").hide();
                $("header, section, footer").removeClass('overlay');
            });
        }
    });
</script>