@model A2ZPortal.Core.ViewModel.PropertyDetail.PropertyImageVm

<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

    <form id="form" method="post" data-ajax="true" data-ajax-method="post"
          asp-action="MappImage" asp-controller="PropertyDetail" data-ajax-success="SuccessImage" data-ajax-begin="BeginRequest">
        <div class="row">
            <div class="col-sm-12" style="overflow-x :auto;max-height:450px">
                <table   class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th>Property Status</th>
                            <th>IsPrimary</th>
                            <th>Is Exclusive</th>
                            <th>Is Recent</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                           
                            for (int i=0; i<Model.PropertyImages.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        <img  src="@Model.PropertyImages[i].ImagePath" alt="A2ZPropertyImage" style="height:125px;width:125px;" />
                                        <input type="hidden" asp-for="@Model.PropertyImages[i].Id" />
                                        <input type="hidden" asp-for="@Model.PropertyImages[i].ImagePath" />
                                        <input type="hidden" asp-for="@Model.PropertyImages[i].PropertyDetailId" />
                                    </td>
                                    <td>
                                        <input type="checkbox" asp-for="@Model.PropertyImages[i].IsPrimaryImage" />

                                    </td>
                                    <td>
                                        <input type="checkbox" asp-for="@Model.PropertyImages[i].IsExclusive" />
                                    </td>
                                    <td>
                                        <input type="checkbox" asp-for="@Model.PropertyImages[i].IsRecent" />
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>

                </table>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn btn-success pull-right" value="Map Images" onclick="AddImage()" />
            </div>
        </div>
    </form>

</div>
<script>
    $(function () {
        $('#example1').DataTable();
    })

    function AddImage() {
        var isPrimary = [];
        var isRecent = [];
        var isExclusive = [];
        var id = [];

        $("input:checkbox[name=IsPrimary]:checked").each(function () {
            isPrimary.push($(this).val());
        });
        $("input:checkbox[name=IsRecent]:checked").each(function () {
            isRecent.push($(this).val());
        });
        $("input:checkbox[name=IsExclusive]:checked").each(function () {
            isExclusive.push($(this).val());
        });

        $("._hiddenId").each(function (index, evalData) {
            id.push($(this).val());
        })
        debugger;

        $.get("/PropertyDetail/MappImage", {
            propertyId: id, isPrimary: isPrimary,
            isExclusive: isExclusive, isRecent: isRecent
        }, function (data) {
            alertify.success(data);
        })
    }
</script>